<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Catalogo de videojuegos</title>
</head>

<body>
    <div th:replace="fragmentos/layout :: cabecera"></div>

<span class="alert alert-warning" th:if="${videojuegos.isEmpty}">
    Esto está vacío
</span>

<div th:unless="${videojuegos.isEmpty}">
    <table class="table">
        <tr th:each="videojuego : ${videojuegos}">
            <td><span th:text="${videojuego.titulo}"></span></td>
            <td><span th:text="${videojuego.desarrollador}"></span></td>
            <td><span th:text="${videojuego.precio}"></span></td>
			<td><span th:text="${videojuego.descripcion}"></span></td>
            <td sec:authorize="hasAnyRole('USER', 'ADMIN')">
                <a th:href="@{/videojuegos/detalles/{id}(id=${videojuego.id})}">
                    Ver detalle
                </a>
            </td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/videojuego/editar/{id}(id=${videojuego.id})}">
                    Editar
                </a>
            </td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/videojuegos/eliminar/{id}(id=${videojuego.id})}">
                    Eliminar
                </a>
            </td>
        </tr>
    </table>

    </div>


<a th:href="@{/crear}">Añadir videojuego</a>

<div th:replace="fragmentos/layout :: pie"></div>

</body>

</html>